
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background-color: #f0f0f0;
    color: #333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    margin-right: 1rem;
}
a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    transition: color 0.3s ease;
}
a:hover {
    color: #ff0000;
}
.active {
    color: #ff0000 !important;
    text-decoration: underline !important;
}
/* a:active {
    color: #00ff00;
} */