.div1{
    text-align: center;
    font-size: 20px;
    height: 100px;
    width:100px;
    border:1px solid black;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.div2{
    height: 100px;
    width:100px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}